﻿@page
@model PRN221_GroupProject.Pages.View.CourseDetailModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");
    var userid = HttpContextAccessor.HttpContext.Session.GetInt32("userid");
    var coursedetailId = HttpContextAccessor.HttpContext.Session.GetInt32("coursedetailId");
}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
  <link href="~/css/style.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
  
    <!-- end loader -->
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><h1>Code Plant</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" asp-page="/Index">Home</a></li>
                        <li><a class="nav-link" asp-page="./View/AllCourse">Courses</a></li>
                        <li><a class="nav-link" href="contact.html">Contact us</a></li>
                        @if (username != null)
                        {
                            <div>
                                <div id="logo" onclick="toggleBox()">
                                    <img src="~/images/user.jpg" style="width:35px;height:35px;" alt="logo" />
                                </div>
                                <div id="box" style="display:none;">
                                    <ul class="navbar-nav">
                                        <li><a class="nav-link" asp-page="./View/MyCourse" asp-route-id="@userid">My Courses</a></li>
                                        <li><a class="nav-link" asp-page="./Login/Login" asp-page-handler="Logout">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <ul class="navbar-nav">
                                <li><a class="nav-link" asp-page="./Login/Login">Login</a></li>
                            </ul>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
<div class="section margin-top_50 silver_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="full float-right_img">
                    <img src="/images/@Model.CourseDetail.Image" alt="#" />
                </div>
            </div>
            <div class="col-md-9 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                        <h2><span>@Model.CourseDetail.CourseName</h2>
                    </div>
                    <div class="full">
                        <p style="font-weight:normal">
                           @Model.CourseDetail.CourseDescription
                        </p>
                        <p>
                            Time: @Model.CourseDetail.CourseTime h
                        </p>
                        <p>Price: @Model.CourseDetail.CoursePrice vnd</p>
                    </div>
                    <div class="full"> 
                            @if (username != null)
                            {
                                if (Model.Count > 0)
                                {
                                    <a class="hvr-radial-out button-theme" asp-page="/Lessons/LessonDetail" asp-route-id="@Model.CourseDetail.CourseId">Continue</a>
                                    <a class="hvr-radial-out button-theme" asp-page="/Rate/Rating" asp-route-id="@Model.CourseDetail.CourseId">Comment</a>
                                }
                                else
                                {
                                    <a class="hvr-radial-out button-theme" asp-page="./Payment" asp-route-id="@Model.CourseDetail.CourseId">Enroll</a>
                                    <a class="hvr-radial-out button-theme" asp-page="/Rate/Rating" asp-route-id="@Model.CourseDetail.CourseId">Comment</a>

                                }
                            }
                            else{
                                    <a class="hvr-radial-out button-theme" asp-page="/Login/Login">Enroll</a>
                                <a class="hvr-radial-out button-theme" asp-page="/Rate/Rating" asp-route-id="@Model.CourseDetail.CourseId">Comment</a>

                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer class="footer-box">
        <div>

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog">
                        <div class="full margin-bottom_30">
                            <img src="images/footer_logo.png" alt="#" />
                        </div>
                        <div class="full white_fonts">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog footer_menu white_fonts">
                        <h3>Quick links</h3>
                        <ul>
                            <li><a href="#">> Join Us</a></li>
                            <li><a href="#">> Maintenance</a></li>
                            <li><a href="#">> Language Packs</a></li>
                            <li><a href="#">> LearnPress</a></li>
                            <li><a href="#">> Release Status</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog full white_fonts">
                        <h3>Newsletter</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        <div class="newsletter_form">
                            <form action="index.html">
                                <input type="email" placeholder="Your Email" name="#" required />
                                <button>Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog full white_fonts">
                        <h3>Contact us</h3>
                        <ul class="full">
                            <li><img src="images/i5.png"><span>London 145<br>United Kingdom</span></li>
                            <li><img src="images/i6.png"><span>demo@gmail.com</span></li>
                            <li><img src="images/i7.png"><span>+12586954775</span></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </footer>
 
</body>
<style>
    .container {
        width: 100vw;
    }

    #logo {
        cursor: pointer;
    }

    #box {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        position: absolute;
        top: 50px;
    }
    .full p{
        font-weight:bold;
        font-size:20px;
    }
</style>
</html>
