﻿@page
@model PRN221_GroupProject.Pages.View.PaymentModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");
    var userid = HttpContextAccessor.HttpContext.Session.GetInt32("userid");
    var courseid = HttpContextAccessor.HttpContext.Session.GetInt32("courseid");
}
<!DOCTYPE html>
<html lang="vi" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nền tảng - Kiến thức cơ bản về WEB | Bảng tin</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="../assets/css/app.css" type="text/css">
</head>

<body>
    <!-- header -->
    <!-- end header -->

    <main role="main">
        <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
        <div class="container mt-4">
                  action="#">
                <input type="hidden" name="kh_tendangnhap" value="dnpcuong">

                <div class="py-5 text-center">
                    <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                    <h2>Thanh toán</h2>
                </div>

                <div class="row"> 
                    <form method="post">
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Transfer payment to</h4>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="kh_ten">Host Name</label>
                                <input type="text" class="form-control" name="kh_ten" id="kh_ten"
                                       value="Hoang Hai Anh" readonly="">
                            </div>                                                                           
                            <div class="col-md-12">
                                <label for="kh_ngaysinh">Bank</label>
                                <input type="text" class="form-control" name="kh_ngaysinh" id="kh_ngaysinh"
                                       value="MB Bank" readonly="">
                            </div>
                            <div class="col-md-12">
                                <label for="kh_cmnd">Account Number</label>
                                <input type="text" class="form-control" name="kh_cmnd" id="kh_cmnd" value="0900829398988"
                                       readonly="">
                            </div>
                        </div>

                        <h4 class="mb-3">Or</h4>

                        <div class="d-block my-3">
               
                        </div>
                        <hr class="mb-4">
                    <input type="submit" class="hvr-radial-out button-theme" id="@courseid">Confirm</input>
                    </div>
                </form>
                </div>
           

        </div>
        <!-- End block content -->
    </main>

    <!-- footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>Bản quyền © bởi <a href="https://nentang.vn">Nền Tảng</a> - <script>document.write(new Date().getFullYear());</script>.</span>
            <span class="text-muted">Hành trang tới Tương lai</span>

            <p class="float-right">
                <a href="#">Về đầu trang</a>
            </p>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/popperjs/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom script - Các file js do mình tự viết -->
    <script src="../assets/js/app.js"></script>

</body>

</html>