﻿@page
@model PRN221_GroupProject.Pages.Users.DeleteModel
@{
}
<h1>Delete a User</h1>

<h3>Are you sure you want to delete this User?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserEmail)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserPassword)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Users.UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>