﻿@page
@model PRN221_GroupProject.Pages.Users.DetailModel
@{
}
<h1>Detail</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserEmail)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserPassword)
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Users?.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>