﻿@page
@model PRN221_GroupProject.Pages.Users.EditModel
@{
}
<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Users.UserId" />
            <div class="form-group">
                <label asp-for="Users.UserName" class="control-label"></label>
                <input asp-for="Users.UserName" class="form-control" />
                <span asp-validation-for="Users.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.UserEmail" class="control-label"></label>
                <input asp-for="Users.UserEmail" class="form-control" />
                <span asp-validation-for="Users.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.UserPassword" class="control-label"></label>
                <input asp-for="Users.UserPassword" class="form-control" />
                <span asp-validation-for="Users.UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}