﻿@page
@model PRN221_GroupProject.Pages.Users.IndexModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var endpage = HttpContextAccessor.HttpContext.Session.GetInt32("endpageUser");
}
<h1>User Management</h1>
<a asp-page="/Courses/Index"><h1>Course Management</h1></a>
  

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserEmail)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Users[0].UserPassword)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Detail" asp-route-id="@item.UserId">Detail</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
        
    </tbody>
</table>
<ul style="margin: 0 auto;" class="pagination">
    @for (int i = 1; i <= endpage; i++)
    {
        <li class="page-item">
            <a href="/Users/Index?index=@i" class="page-link">@i</a>
        </li>
    }
</ul>

<style>
    .pagination {
        justify-content: center;
    }
</style>
@*@{
    var pre = !Model.Users.HasPreviousPage ? "disabled" : "";
    var next = !Model.Users.HasNextPage ? "disabled" : "";

}*@
@*<a asp-page= "Index" 
   asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
   class="btn btn-primary @pre">
   Previous
</a>
<a asp-page= "Index" 
   asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
   class="btn btn-primary @next" >
   Next
</a>*@
@*<a asp-page= "Index" asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
class="btn btn-primary @pre">Previous</a>
<a asp-page= "Index" asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
class="btn btn-primary @next">Next</a>*@