﻿@page
@model PRN221_GroupProject.Pages.Lessons.LearnCourseModel
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http

<link rel="stylesheet" href="~/css/style.css" />

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");
    var userid = HttpContextAccessor.HttpContext.Session.GetInt32("userid");
    var coursedetailId = HttpContextAccessor.HttpContext.Session.GetInt32("coursedetailId");
}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <link href="~/css/style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <!-- end loader -->
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><h1>Code Plant</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" asp-page="/Index">Home</a></li>
                        <li><a class="nav-link" asp-page="./View/AllCourse">Courses</a></li>
                        <li><a class="nav-link" href="contact.html">Contact us</a></li>
                        @if (username != null)
                        {
                            <div>
                                <div id="logo" onclick="toggleBox()">
                                    <img src="~/images/user.jpg" style="width:35px;height:35px;" alt="logo" />
                                </div>
                                <div id="box" style="display:none;">
                                    <ul class="navbar-nav">
                                        <li><a class="nav-link" asp-page="./View/MyCourse" asp-route-id="@userid">My Courses</a></li>
                                        <li><a class="nav-link" asp-page="./Login/Login" asp-page-handler="Logout">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <ul class="navbar-nav">
                                <li><a class="nav-link" asp-page="./Login/Login">Login</a></li>
                            </ul>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>

<div class="App_withSidebar__8lwIi">
    <div class="App_withSidebarContent__o4VlQ">
        <video width="640" height="560" controls>
  <source src="~/images/Java Cơ Bản 31 Class và Object trong Java.mp4" type="video/mp4">
  <source src="~/images/Java Cơ Bản 31 Class và Object trong Java.mp4" >
</video>
        </div>
    <div class="App_withSidebarContent__o4VlQ">
        <section class="index-module_grid__1q71E index-module_fullWidth__3X-6x" style="max-width: 1920px;">
            <section class="index-module_row__-AHgh CourseDetail_wrapper__myy9O"></section>
            <section class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-8__yebHm">
                <h1 class="CourseDetail_courseName__g37pH">Learning programing @Model.Course.CourseName</h1>
                <div class="CourseDetail_textContent__Y2-aV">@Model.Course.CourseDescription</div>
                <div class="CurriculumOfCourse_curriculumOfCourse__8Z1rQ">
                    <div class="CurriculumOfCourse_subHeadWrapper__Hkcns">
                        <ul>
                             <li>Time to complete: @Model.Course.CourseTime hours</li>
                        <li class="CurriculumOfCourse_dot__lIoF- CurriculumOfCourse_hiddenMobile__iP-4s">•</li>
                        <li>Total Lesson: @Model.Lesson.Count</li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="CurriculumOfCourse_curriculumPanel__nHTcj">
                <div class="CurriculumOfCourse_panelGroup__qG1sx">
                    <div>
                        <div class="  CurriculumOfCourse_panel__QT1YG">
                            @foreach (var item in @Model.Lesson)
                            {
                                <div class="CurriculumOfCourse_panelHeading__eln5T">
                                    <a asp-page="./LearnCourse" asp-route-id="@item.CourseId">Lesson: @Html.DisplayFor(modelItem => item.Content)</a>
                                    

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<footer class="footer-box">
    <div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="footer_blog">
                    <div class="full margin-bottom_30">
                        <img src="~/images/footer_logo.png" alt="#" />
                    </div>
                    <div class="full white_fonts">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="footer_blog footer_menu white_fonts">
                    <h3>Quick links</h3>
                    <ul>
                        <li><a href="#">> Join Us</a></li>
                        <li><a href="#">> Maintenance</a></li>
                        <li><a href="#">> Language Packs</a></li>
                        <li><a href="#">> LearnPress</a></li>
                        <li><a href="#">> Release Status</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="footer_blog full white_fonts">
                    <h3>Newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <div class="newsletter_form">
                        <form action="index.html">
                            <input type="email" placeholder="Your Email" name="#" required />
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="footer_blog full white_fonts">
                    <h3>Contact us</h3>
                    <ul class="full">
                        <li><img src="~/images/i5.png"><span>London 145<br>United Kingdom</span></li>
                        <li><img src="~/images/i6.png"><span>demo@gmail.com</span></li>
                        <li><img src="~/images/i7.png"><span>+12586954775</span></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</footer>
</body>
<style>
    body {
    font-family: var(--system-ui);
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.CurriculumOfCourse_curriculumPanel__nHTcj {
    margin: 12px 0 48px;
}
    .App_withSidebar__8lwIi{
        display: flex;
    min-height: 100vh;
    }
   .CurriculumOfCourse_panelHeading__eln5T {
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 147px;
    z-index: 1;
}
    div {
    display: block;
}
.App_withSidebarContent__o4VlQ:not(.App_hidden__PlKoC) {
    max-width: 100%;
    padding: 0 32px;
}
.App_withSidebarContent__o4VlQ {
    flex: 1 1;
    max-width: 100%;
}
element.style {
    max-width: 1920px;
}
.index-module_fullWidth__3X-6x {
    width: 100%;
}
.index-module_grid__1q71E {
    padding: 0;
    margin: 0 auto;
}
.CourseDetail_wrapper__myy9O {
    margin-top: 24px;
    padding: 0 44px 68px;
}
.index-module_row__-AHgh {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.index-module_c-12__u7UXF {
    width: 100%;
}
.index-module_col__2EQm9 {
    padding-left: 4px;
    padding-right: 4px;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.CourseDetail_courseName__g37pH {
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 16px;
    min-height: 33px;
}
.CourseDetail_textContent__Y2-aV {
    color: rgba(0,0,0,.8);
    font-size: 1.4rem;
    line-height: 1.6;
}
.CurriculumOfCourse_headerSticky__sUlkH {
    background-color: #fff;
    padding-bottom: 4px;
    position: sticky;
    top: 66px;
    z-index: 2;
}
.CurriculumOfCourse_curriculumOfCourse__8Z1rQ h2 {
    font-size: 2rem;
    font-weight: 700;
}
.CurriculumOfCourse_floatLeft__zxBeB {
    float: left;
}
.CurriculumOfCourse_subHeadWrapper__Hkcns {
    display: flex;
    font-size: 1.4rem;
    margin-top: 4px;
}
.CurriculumOfCourse_subHeadWrapper__Hkcns li {
    display: inline-block;
}
*, ::after, ::before {
    box-sizing: inherit;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: none;
}
.CurriculumOfCourse_subHeadWrapper__Hkcns .CurriculumOfCourse_dot__lIoF- {
    font-size: 1.4rem;
    margin-top: 1px;
    opacity: .8;
    padding: 0 8px;
}
.CurriculumOfCourse_curriculumPanel__nHTcj {
    margin: 12px 0 48px;
}
.CurriculumOfCourse_curriculumOfCourse__8Z1rQ h2 {
    font-size: 2rem;
    font-weight: 700;
}
.CurriculumOfCourse_floatLeft__zxBeB {
    float: left;
}
.CurriculumOfCourse_panelGroup__qG1sx .CurriculumOfCourse_panel__QT1YG {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}
.CurriculumOfCourse_curriculumPanel__nHTcj {
    margin: 12px 0 48px;
}


.CurriculumOfCourse_panelHeading__eln5T {
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 147px;
    z-index: 1;
}

    a {
        line-height: 50px;
        font-size: 20px;
    }

    .CurriculumOfCourse_panelHeading__eln5T {
        height: 50px;
    }
     
</style>