﻿@page
@model PRN221_GroupProject.Pages.Login.RegisterModel
@{
}
<link href="~/css/login.css" rel="stylesheet" />
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @if (Model.Message != null)
                {
                    <div class="alert alert-danger">@Model.Message</div>
                }
                <form method="post">
                    <div class="form-outline mb-4">
                        <label asp-for="User.UserName" class="control-label"></label>
                        <input asp-for="User.UserName" class="form-control" placeholder="Enter valid Username" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="User.UserEmail" class="control-label"></label>
                        <input asp-for="User.UserEmail" class="form-control" placeholder="Enter valid Email" />
                        <span asp-validation-for="User.UserEmail" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-3">
                        <label asp-for="User.UserPassword" class="control-label"></label>
                        <input asp-for="User.UserPassword" class="form-control" placeholder="Enter valid Password" />
                        <span asp-validation-for="User.UserPassword" class="text-danger"></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                           Have an account? <a asp-page="./Login"
                                                      class="link-danger">Login</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}