﻿@page
@model PRN221_GroupProject.Pages.Courses.DeleteModel
@{
}
<h1>Delete a Course</h1>

<h3>Are you sure you want to delete this Course?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CoursePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CoursePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.Course.Image)" width="200" height=150>
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Course.CourseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>