﻿@page
@model PRN221_GroupProject.Pages.Courses.EditModel
@{
}
<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.CourseId" />
            <div class="form-group">
                <label asp-for="Course.CourseName" class="control-label"></label>
                <input asp-for="Course.CourseName" class="form-control" />
                <span asp-validation-for="Course.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CourseDescription" class="control-label"></label>
                <input asp-for="Course.CourseDescription" class="form-control" />
                <span asp-validation-for="Course.CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CoursePrice" class="control-label"></label>
                <input asp-for="Course.CoursePrice" class="form-control" />
                <span asp-validation-for="Course.CoursePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CourseTime" class="control-label"></label>
                <input asp-for="Course.CourseTime" class="form-control" />
                <span asp-validation-for="Course.CourseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Image" class="control-label"></label>
                <img src="~/images/@Html.DisplayFor(model => model.Course.Image)" width="200" height=150>
            </div>
            <div>
                <label asp-for="File" class="control-label">Change Image</label>
                <input asp-for="File" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}