﻿@page
@model PRN221_GroupProject.Pages.Courses.IndexModel
@{
    @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


    var endpage = HttpContextAccessor.HttpContext.Session.GetInt32("endpageCourse");
}


<h1>Courses Management</h1>
<a asp-page="/Users/Index"><h1>User Manager</h1></a>
<p>
    <a asp-page="Create">Create New</a>
</p>    

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseDescription)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Courses[0].CoursePrice)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseTime)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Courses[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CoursePrice)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CourseTime)
            </td>
             <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" width = "200" height=150>
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseId">Edit</a> |
                 <a asp-page="./Detail" asp-route-id="@item.CourseId">Detail</a> |
                  <a asp-page="./Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<ul style="margin: 0 auto;" class="pagination">
    @for (int i = 1; i <= endpage; i++)
    {
        <li class="page-item">
            <a href="/Courses/Index?index=@i" class="page-link">@i</a>
        </li>
    }
</ul>
<style>
    .pagination {
        justify-content: center;
    }
</style>